$theme-color: (
    "primary-color": #3f4df3,
    "primary-color-hover": #0b0d85,
    "dark": #020710
);

$box-color-01: #3f4df3;
$box-color-02: #d62386;
$box-color-03: #006c74;
$box-color-04: #8a8324;
$box-color-05: #007910;