@keyframes color-change {
    0% {
        color: red;
    }
    10% {
        color: pink;
    }
    20% {
        color: cyan;
    }
    30% {
        color: teal;
    }
    40% {
        color: indigo;
    }
    50% {
        color: blue;
    }
    60% {
        color: yellow;
    }
    70% {
        color: orange;
    }
    80% {
        color: brown;
    }
    90% {
        color: gray;
    }
    100% {
        color: green;
    }
}