@keyframes color-change {
    0% {
        color: #e91e63;
    }
    20% {
        color: #d500f9;
    }
    40% {
        color: #7986cb;
    }
    50% {
        color: cyan;
    }
    60% {
        color: #00bfa5;
    }
    80% {
        color: #00e676;
    }
    100% {
        color: #aeea00;
    }
}