@keyframes color-change {
    0% {
        color: #e2668f;
    }
    10% {
        color: #e72ed8;
    }
    20% {
        color: #d500f9;
    }
    40% {
        color: #7986cb;
    }
    50% {
        color: cyan;
    }
    60% {
        color: #00bfa5;
    }
    80% {
        color: #00e676;
    }
    90% {
        color: #aeea00;
    }
    100% {
        color: #ebdb05;
    }
}

@keyframes box-shape {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}