@use "../Utilities/forwardAll" as *;

// Rest browser
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-primary;
}

a {
    text-decoration: none;
}

.font_ta {
    font-family: $font-tamil;
}

.text-uppercase {
    text-transform: uppercase;
}

.color-animate {
    transition: 600ms;
    animation: color-change 10s infinite;
}
